.btn {
  display: inline-flex;
  padding: 20px 53px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: 4px $color-default-white solid;
  cursor: pointer;
  transition: opacity $trans-default;
  user-select: none;
  justify-content: center;
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  width: 232px;

  @include vp-1199 {
    padding: 20px 28px;
    width: 185px;
  }

  @include vp-767 {
    width: 100%;
  }

  .btn--border-black {
    color: $color-sapphire;
    border: 2px $color-sapphire solid;
    padding: 0 24px;
  }

  .btn--large {
    padding: 0 28px;
    width: 100%;
  }

  .btn--bic {
    font-size: 14px;
    line-height: 16.41px;
    padding: 0 21px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
