.coach {
  position: relative;
  padding-top: calc(100% * 294/260);

  /*@media (min-width: 1200px) {*/

    &:hover,
    &:focus-within {
      .coach__descpiption {
        flex-direction: column;
        background-color: rgba(16, 38, 84, 0.85);
        justify-content: center;
        padding-bottom: 10px;
      }

      .coach__subtitle {
        opacity: 1;
      }

      .coach__list {
        opacity: 1;
      }
    /*}*/
  }

  @include vp-1199 {
    padding-top: calc(100% * 294/268);
  }

  @include vp-767 {
    padding-top: calc(100% * 274/226);
  }
}

.coach h4 {
  margin-left: -7px;
}

.coach__foto,
.coach__descpiption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coach__foto img {
  object-fit: cover;
  height: 100%;

  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}

.coach__descpiption {
  color: $color-default-white;
  padding: 10px 10px 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: auto;
  background-color: transparent;

  @include vp-1199 {
    padding: 10px 10px 18px;
  }

  @include vp-767 {
    padding: 42px 23px 23px 22px;
  }
}

.coach__descpiption > * {
  max-width: 160px;
}

.coach__subtitle {
  color: $color-spindle;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  margin-top: -4px;
  margin-left: -7px;
  opacity: 0;
}

.coach__list {
  list-style-type: disc;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-left: 35px;
  opacity: 0;

  @include vp-767 {
    margin-left: 28px;
  }
}

.coach__item {
  margin-bottom: 14px;
}

.coach__click {
  .coach__descpiption {
    flex-direction: column;
    background-color: rgba(16, 38, 84, 0.85);
  }

  .coach__subtitle {
    opacity: 1;
  }

  .coach__list {
    opacity: 1;
  }
}
