.contacts-contacts {
  justify-self: left;
  width: 100%;
  border-top: 1px $color-light-slate-grey solid;

  @include vp-1199 {
    justify-self: unset;
    border-top: none;
  }
}

.contacts-contacts__container {
  width: 100%;
  position: relative;
  text-align: left;
  padding-top: 65px;
  padding-bottom: 64px;
  padding-left: 122px;
  padding-right: calc(100% - 683px);

  @include vp-1199 {
    max-width: 100%;
    padding-left: 148px;
    padding-top: 62px;
    padding-bottom: 63px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-top: 65px;
  }
}

.contacts-contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 14px 0;
  margin-top: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 41.5%;
    width: 1px;
    height: 103px;
    background-color: $color-light-slate-grey;

    @media (min-width: 1200px) and (max-width: 1250px) {
      left: 45%;
    }

    @include vp-1199 {
      left: calc(50% - 38px);
      height: 134px;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    grid-template-columns: 0.9fr 1fr;
    margin-top: 35px;
    gap: 21px 67px;
    padding-right: 21px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
  }
}

.contacts-contacts__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 2px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }

  @include vp-767 {
    margin-bottom: 4px;
  }
}

.contacts-contacts__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27.42px;
  }
}

.contacts-contacts__unit--first {
  @include vp-767 {
    order: 1;
  }
}

.contacts-contacts__unit--second {
  @include vp-767 {
    order: 2;
  }
}

.contacts-contacts__unit--third {
  @include vp-767 {
    order: 3;
  }
}

.contacts-contacts__unit--fourth {
  @include vp-767 {
    order: 4;
  }
}
