.footer {
  background-color: $color-black-russian;
  padding: 40px 0 18px;

  @include vp-1199 {
    padding: 47px 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__nav {
  @include vp-767 {
    margin-bottom: 18px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    gap: 30px;
  }
}

.footer__item {
  margin-bottom: 10px;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.footer__item--logo {
  margin-right: 237px;

  @media (min-width: 1200px) and (max-width: 1250px) {
    margin-right: 157px;
  }

  @include vp-1199 {
    margin-right: 32px;
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 25px;
    width: 68px;
    height: 15px;
  }
}

.footer__logo {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__link {
  color: $color-default-white;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;

  @include vp-767 {
    font-size: 16px;
    line-height: 18.75px;
  }
}
