.play-video {
  position: relative;
}

.play-video__img {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 364px;
    height: 228px;
    background-color: $color-dark-cerulean;
    opacity: 0.5;

    @include vp-1199 {
      width: 266px;
      height: 167px;
    }

    @include vp-767 {
      width: 100vw;
      height: 167px;
    }
  }
}

.play-video__img img {
  object-fit: cover;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
  }
}

.play-video__link {
  position: absolute;
  z-index: 10;
}

.play-video__link img {
  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
