.slider-reviews {
  width: 693px;
  height: 242px;
  margin-top: 38px;

  @include vp-1199 {
    width: 676px;
  }

  @include vp-767 {
    width: 100%;
    height: 335px;
    margin-top: 42px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 16px;
    height: 32px;
    top: 130px;

    @include vp-767 {
      width: 10px;
      height: 19px;
      top: 180px;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 32px;

    @include vp-767 {
      font-size: 19px;
    }
  }

  .swiper-button-prev {
    left: -1px;
  }

  .swiper-button-next {
    right: 0px;
  }
}
