.swiper-container {
  position: relative;
  padding: 0;

  @include vp-1199 {
    padding: 0 55px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 16px;
    height: 32px;
    top: 52%;

    @include vp-1199 {
      top: 53%;
    }

    @include vp-767 {
      width: 10px;
      height: 19px;
      top: 55%;
    }
  }

  .swiper-button-next {
    right: -56px;

    @include vp-1199 {
      right: 0;
    }
  }

  .swiper-button-prev {
    left: -56px;

    @include vp-1199 {
      left: 0;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 32px;

    @include vp-767 {
      font-size: 19px;
    }
  }
}
